:root {
    font-size: 16px;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    margin: 0;
}

.white-card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.25rem;
    width: 100%;
    max-width: 20rem;
    aspect-ratio: 19 / 27.1;
    min-width: 12rem;
    box-sizing: border-box;
    margin: 1.25rem;
}

.card__image {
    width: 100%;
    border-radius: 0.625rem;
    display: block;
    margin-top: -5%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1.25rem;
}

figure {
    margin: 0;
    padding: 2rem 1rem 0 1rem;
}


h1 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-top: 1.25rem;
    padding: 0 1rem 0 1rem;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 48%);
    text-align: center;
    margin-top: 1.25rem;
    padding: 0 1rem 0 1rem;
    letter-spacing: 0.2px;
}
